.itemLeft {
    grid-area: l;
    max-width: 348px;
}

.itemRight {
    grid-area: r;
    max-width: 348px;
}

.itemName {
    grid-area: n;
    padding: 10px 10px 0px 10px;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.itemSubject {
    grid-area: s;
    color: lightgray;
    padding: 2px 10px 0px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.itemIcon {
    grid-area: i;
    text-align: center;
    padding: 10px 10px 0px 10px;
}

.itemMessage {
    grid-area: m;
    padding: 5px 10px 10px 10px;
    min-height: 40px;
    color: #1f1f1f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.itemLine {
    grid-area: l;
    padding: 0px;
    margin: 0px;
}

.itemApprove {
    grid-area: a;
    color: green;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: green;
    border-radius: 5px;
    padding: 5px 10px 10px 10px;
    margin: 0px 0px 10px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.itemDecline {
    grid-area: d;
    color: red;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: red;
    border-radius: 5px;
    padding: 5px 10px 10px 10px;
    margin: 0px 10px 10px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icon {
    width: 40px;
    height: 40px;
}

.spacer {
    border: 1px solid #f0f0f0;
}

.grid-container-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas: 'l r';
    grid-gap: 5px;
}

.grid-container-message {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
        'n n n n n i'
        's s s s s i'
        'm m m m m m'
        'l l l l l l'
        'a a a d d d';
    grid-gap: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 5px;
}
